# Logs
logs
*.log

# Node modules
node_modules/

# Build outputs
dist/
dist-ssr/

# Editor files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env files
*.env
backend/.env
frontend/.env
