body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #9d79c3, #6d99e5);
}

.container {
  width: 90%;
  max-width: 1200px;
  padding: 30px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.container:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2.5em;
  color: #0f85ed;
  font-weight: 700;
  margin-bottom: 10px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

h3 {
  font-size: 1.8em;
  color: #333;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  padding: 0 20px;
}

form input, form select {
  width: 48%;
  margin: 10px 1%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 10px;
  transition: border 0.3s;
}

form input:focus, form select:focus {
  border-color: #0f85ed;
  outline: none;
}

form button {
  width: 100%;
  max-width: 150px;
  padding: 12px 20px;
  border: none;
  background-color: #4428a7;
  color: white;
  font-size: 1.1em;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}

form button:hover {
  background-color: #361b7a;
}

.transaction-history {
  margin-top: 20px;
  padding: 0 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 15px 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

ul li:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

ul li .delete-btn {
  background: #ff4d4d;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

ul li .delete-btn:hover {
  background: #e60000;
}

ul li span {
  font-size: 1.1em;
  font-weight: 600;
}

ul li span.positive {
  color: #4CAF50;
}

ul li span.negative {
  color: #f44336;
}

@media (max-width: 768px) {
  form input, form select {
      width: 100%;
  }

  form button {
      width: 100%;
  }
}
